.main-background {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.main-container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(/backdrop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: rgba(255, 255, 255, 0.5); */
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* opacity: 0.7; */
  /* backdrop-filter: brightness(0.1); */
  flex-wrap: wrap;
  /* border: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5%; */
  z-index: 1;
}

.main-ambient {
  position: absolute;
  z-index: 0;
  /* background: url(/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  filter: blur(100px);
  opacity: 0.7;
}

.main-text {
  color: white;
  font-size: 64px;
  text-shadow: 0px 0px 10px rgba(255 255 255 / 0.3);
  font-weight: 600;
  letter-spacing: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text span {
  text-align: center;
  cursor: default;
  padding-top: 20px;
}

.main-text img {
  height: 80px;
  /* animation-name: rotY;
    animation-iteration-count: infinite;
    animation-duration: 200s; */
  /* animation-delay: 2s; */
  /* text-shadow: 0px 0px 50px black; */
  margin: 20px;
  /* padding-bottom: 25px; */
  /* scale: 1.1; */
  filter: drop-shadow(0 0 2px black) invert(1);
}

/* @keyframes rotY {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.auth-container input {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  width: 250px;
  height: 30px;
  margin: 0px;
  padding: 10px;
  padding-inline: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.auth-container .first-ip {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.auth-container .second-ip {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.refer-ip {
  border-radius: 30px;
  margin-top: 5px !important;
}

/* removing arrows from the otp feild in forgot-pass.html */
/* Chrome, Safari, Edge, Opera */
.auth-container .otp::-webkit-outer-spin-button,
.auth-container .otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.auth-container .otp[type="number"] {
  /* -moz-appearance: textfield; */
  appearance: textfield;
}

.auth-container input::placeholder {
  color: rgba(0 0 0 / 0.7);
}

.auth-container .btn-container {
  display: flex;
}

.auth-container .sb-btn {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: none;
  font-weight: 600;
  text-align: center;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  margin-inline: 5px;
  padding: 10px;
  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0 0 0 / 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.auth-container .sb-btn:hover,
.GFI-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  background: rgb(0 0 0 / 0.5);
}

.auth-container .sb-btn:focus,
.GFI-btn:focus {
  color: rgba(255, 255, 255, 0.5);
  background: rgb(0 0 0 / 0.5);
}

.GFI-btn {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 70px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0 0 0 / 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.GFI-btn:hover img,
.GFI-btn:focus img {
  transform: rotateY(360deg);
  transition: all 0.5s ease-in-out;
}

.otp-btn {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border: none;
  font-weight: 600;
  text-align: center;
  height: 50px;
  padding: 10px;
  border-radius: 2px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0 0 0 / 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.otp-btn:hover,
.otp-btn:focus {
  color: rgba(255, 255, 255, 0.7);
  background: rgb(0 0 0 / 0.5);
}

.btn-png {
  height: 20px;
  width: 20px;
}

.alt-container {
  font-size: 15px;
  margin: 10px;
  color: white;
  font-weight: 200;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  cursor: default;
}

.alt-container a {
  color: white;
  text-decoration: underline;
}

.alt-container a:hover {
  font-weight: 400;
}

/*desktop*/
@media only screen and (width>850px) {
  .main-container {
    width: 70vw;
    height: 90vh;
    border-radius: 50px;
    flex-direction: row;
  }

  .main-ambient {
    height: 100vh;
    width: 80vw;
  }

  .main-text {
    margin-inline: 10px 20px;
    flex-direction: row;
  }

  .login-container {
    margin-inline: 50px;
  }
}

/*mobile*/
@media only screen and (width<=850px) {
  .main-container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 5%;
  }

  .main-text {
    margin-inline: 20px;
    flex-direction: column;
  }
}

.ghost {
  display: none;
}
